@model IEnumerable<NReddit.Data.Model.Post>

@{
    ViewBag.Title = "Index";
}

@foreach (var post in Model)
{
    <div class="post">
        <div class="upvote">
            @Html.ActionLink(" ", "Vote", "Home", new { id = post.Id }, new{ @class="upvote-link" })

            <span class="vote-count">@post.Score</span>
        </div>
        <div class="link">
            <a class="post-link" href="@post.Link">@post.Title</a>
            <span class="post-tagline">@post.Tagline</span>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(".upvote-link").click(function () {

            event.preventDefault();
            var upvoteButton = $(this);
            var url = $(this).attr("href");

            $.get(url, function(data) {

                if (!data.Success) {
                    alert(data.Message);
                    return;
                }

                upvoteButton.addClass("voted");
                var voteCountLabel = upvoteButton.next(".vote-count");
                var voteCount = parseInt(voteCountLabel.text(), 10) + 1;
                voteCountLabel.text(voteCount);

             })
            .fail(function () {
                alert("Something went wrong. Make sure that you're logged in.");
            });
        });
    </script>
}