@model IEnumerable<NReddit.Data.Model.Post>

@{
    ViewBag.Title = "Index";
}

@foreach (var post in Model)
{
    <div class="post">
        <div class="upvote">
            
            @if (post.Voted)
            {
                <a class="upvote-link voted" data-id="@post.Id"></a>
            }
            else
            {
                <a class="upvote-link" data-id="@post.Id"></a>
            }

            <span class="vote-count">@post.Score</span>
        </div>
        <div class="link">
            <a class="post-link" href="@post.Link">@post.Title</a>
            <span class="post-tagline">@post.Tagline</span>
        </div>
    </div>
}

@section Scripts
{
    <script>
        $(".upvote-link").click(function () {

            var voteButton = $(this);
            var postId = voteButton.attr("data-id");

            $.get("Home/Vote/" + postId, function (response) {

                if (!response.Success) {
                    alert(response.Message);
                    return;
                }

                var voteCountLabel = voteButton.next(".vote-count");
                var voted = voteButton.hasClass("voted");
                if (voted) {
                    voteButton.removeClass("voted");
                    voteCountLabel.text(parseInt(voteCountLabel.text(), 10) - 1);
                } else {
                    voteButton.addClass("voted");
                    voteCountLabel.text(parseInt(voteCountLabel.text(), 10) + 1);
                }
             })
            .fail(function (error) {
                console.log(error);
                alert("Something went wrong. Make sure that you're logged in.");
            });




        });
    </script>
}